



<br>
<br>
<br>
<br>
<p class="h2 offset-4 text-success">Mreza Mladih NRW - Koordinatoren</p>

<br>
<br>
<br>


<div class="container offset-2">
  <div class="row">
    <div class="col">
      <div class="card-body">
        <div class="col-5 col-sm-4">
          <img src="assets/421-4212617_person-placeholder-image-transparent-hd-png-download.png" class="img-thumbnail w-100" alt="card-horizontal-image">
        </div>
        <h5 class="card-title text-success">Koordinator Name</h5>
        <h6 class="card-subtitle mb-2 text-muted">Koordinator Dzemat XXXXXXXXXXX</h6>
        <p class="card-text">Beispiel Straße XXX, XXXXX Stadt</p>
        <div class="btn-group" role="group" aria-label="Basic button group">
          <button type="button" class="btn btn-dark">Social Media</button>
          <button type="button" class="btn btn-dark">E-Mail</button>
        </div>
      </div>
    </div>


    <div class="col">
      <div class="card-body">
        <div class="col-5 col-sm-4">
          <img src="assets/421-4212617_person-placeholder-image-transparent-hd-png-download.png" class="img-thumbnail w-100" alt="card-horizontal-image">
        </div>
        <h5 class="card-title text-success">Koordinator Name</h5>
        <h6 class="card-subtitle mb-2 text-muted">Koordinator Dzemat XXXXXXXXXXX</h6>
        <p class="card-text">Beispiel Straße XXX, XXXXX Stadt</p>
        <div class="btn-group" role="group" aria-label="Basic button group">
          <button type="button" class="btn btn-dark">Social Media</button>
          <button type="button" class="btn btn-dark">E-Mail</button>
        </div>
      </div>
    </div>

    <div class="w-100"></div>
    <br>

    <div class="col">
      <div class="card-body">
        <div class="col-5 col-sm-4">
          <img src="assets/421-4212617_person-placeholder-image-transparent-hd-png-download.png" class="img-thumbnail w-100" alt="card-horizontal-image">
        </div>
        <h5 class="card-title text-success">Koordinator Name</h5>
        <h6 class="card-subtitle mb-2 text-muted">Koordinator Dzemat XXXXXXXXXXX</h6>
        <p class="card-text">Beispiel Straße XXX, XXXXX Stadt</p>
        <div class="btn-group" role="group" aria-label="Basic button group">
          <button type="button" class="btn btn-dark">Social Media</button>
          <button type="button" class="btn btn-dark">E-Mail</button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card-body">
        <div class="col-5 col-sm-4">
          <img src="assets/421-4212617_person-placeholder-image-transparent-hd-png-download.png" class="img-thumbnail w-100" alt="card-horizontal-image">
        </div>
        <h5 class="card-title text-success">Koordinator Name</h5>
        <h6 class="card-subtitle mb-2 text-muted">Koordinator Dzemat XXXXXXXXXXX</h6>
        <p class="card-text">Beispiel Straße XXX, XXXXX Stadt</p>
        <div class="btn-group" role="group" aria-label="Basic button group">
          <button type="button" class="btn btn-dark">Social Media</button>
          <button type="button" class="btn btn-dark">E-Mail</button>
        </div>
      </div>
    </div>

    <div class="w-100"></div>
    <br>

    <div class="col">
      <div class="card-body">
        <div class="col-5 col-sm-4">
          <img src="assets/421-4212617_person-placeholder-image-transparent-hd-png-download.png" class="img-thumbnail w-100" alt="card-horizontal-image">
        </div>
        <h5 class="card-title text-success">Koordinator Name</h5>
        <h6 class="card-subtitle mb-2 text-muted">Koordinator Dzemat XXXXXXXXXXX</h6>
        <p class="card-text">Beispiel Straße XXX, XXXXX Stadt</p>
        <div class="btn-group" role="group" aria-label="Basic button group">
          <button type="button" class="btn btn-dark">Social Media</button>
          <button type="button" class="btn btn-dark">E-Mail</button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card-body">
        <div class="col-5 col-sm-4">
          <img src="assets/421-4212617_person-placeholder-image-transparent-hd-png-download.png" class="img-thumbnail w-100" alt="card-horizontal-image">
        </div>
        <h5 class="card-title text-success">Koordinator Name</h5>
        <h6 class="card-subtitle mb-2 text-muted">Koordinator Dzemat XXXXXXXXXXX</h6>
        <p class="card-text">Beispiel Straße XXX, XXXXX Stadt</p>
        <div class="btn-group" role="group" aria-label="Basic button group">
          <button type="button" class="btn btn-dark">Social Media</button>
          <button type="button" class="btn btn-dark">E-Mail</button>
        </div>
      </div>
    </div>

    <div class="w-100"></div>
    <br>

    <div class="col">
      <div class="card-body">
        <div class="col-5 col-sm-4">
          <img src="assets/421-4212617_person-placeholder-image-transparent-hd-png-download.png" class="img-thumbnail w-100" alt="card-horizontal-image">
        </div>
        <h5 class="card-title text-success">Koordinator Name</h5>
        <h6 class="card-subtitle mb-2 text-muted">Koordinator Dzemat XXXXXXXXXXX</h6>
        <p class="card-text">Beispiel Straße XXX, XXXXX Stadt</p>
        <div class="btn-group" role="group" aria-label="Basic button group">
          <button type="button" class="btn btn-dark">Social Media</button>
          <button type="button" class="btn btn-dark">E-Mail</button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card-body">
        <div class="col-5 col-sm-4">
          <img src="assets/421-4212617_person-placeholder-image-transparent-hd-png-download.png" class="img-thumbnail w-100" alt="card-horizontal-image">
        </div>
        <h5 class="card-title text-success">Koordinator Name</h5>
        <h6 class="card-subtitle mb-2 text-muted">Koordinator Dzemat XXXXXXXXXXX</h6>
        <p class="card-text">Beispiel Straße XXX, XXXXX Stadt</p>
        <div class="btn-group" role="group" aria-label="Basic button group">
          <button type="button" class="btn btn-dark">Social Media</button>
          <button type="button" class="btn btn-dark">E-Mail</button>
        </div>
      </div>
    </div>

    <div class="w-100"></div>
    <br>

    <div class="col">
      <div class="card-body">
        <div class="col-5 col-sm-4">
          <img src="assets/421-4212617_person-placeholder-image-transparent-hd-png-download.png" class="img-thumbnail w-100" alt="card-horizontal-image">
        </div>
        <h5 class="card-title text-success">Koordinator Name</h5>
        <h6 class="card-subtitle mb-2 text-muted">Koordinator Dzemat XXXXXXXXXXX</h6>
        <p class="card-text">Beispiel Straße XXX, XXXXX Stadt</p>
        <div class="btn-group" role="group" aria-label="Basic button group">
          <button type="button" class="btn btn-dark">Social Media</button>
          <button type="button" class="btn btn-dark">E-Mail</button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card-body">
        <div class="col-5 col-sm-4">
          <img src="assets/421-4212617_person-placeholder-image-transparent-hd-png-download.png" class="img-thumbnail w-100" alt="card-horizontal-image">
        </div>
        <h5 class="card-title text-success">Koordinator Name</h5>
        <h6 class="card-subtitle mb-2 text-muted">Koordinator Dzemat XXXXXXXXXXX</h6>
        <p class="card-text">Beispiel Straße XXX, XXXXX Stadt</p>
        <div class="btn-group" role="group" aria-label="Basic button group">
          <button type="button" class="btn btn-dark">Social Media</button>
          <button type="button" class="btn btn-dark">E-Mail</button>
        </div>
      </div>
    </div>

    <div class="w-100"></div>
    <br>

    <div class="col">
      <div class="card-body">
        <div class="col-5 col-sm-4">
          <img src="assets/421-4212617_person-placeholder-image-transparent-hd-png-download.png" class="img-thumbnail w-100" alt="card-horizontal-image">
        </div>
        <h5 class="card-title text-success">Koordinator Name</h5>
        <h6 class="card-subtitle mb-2 text-muted">Koordinator Dzemat XXXXXXXXXXX</h6>
        <p class="card-text">Beispiel Straße XXX, XXXXX Stadt</p>
        <div class="btn-group" role="group" aria-label="Basic button group">
          <button type="button" class="btn btn-dark">Social Media</button>
          <button type="button" class="btn btn-dark">E-Mail</button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card-body">
        <div class="col-5 col-sm-4">
          <img src="assets/421-4212617_person-placeholder-image-transparent-hd-png-download.png" class="img-thumbnail w-100" alt="card-horizontal-image">
        </div>
        <h5 class="card-title text-success">Koordinator Name</h5>
        <h6 class="card-subtitle mb-2 text-muted">Koordinator Dzemat XXXXXXXXXXX</h6>
        <p class="card-text">Beispiel Straße XXX, XXXXX Stadt</p>
        <div class="btn-group" role="group" aria-label="Basic button group">
          <button type="button" class="btn btn-dark">Social Media</button>
          <button type="button" class="btn btn-dark">E-Mail</button>
        </div>
      </div>
    </div>




  </div>
</div>

