<section>
  <div class="container mt-5">
    <div class="row">
        <header class="container">
          <h1>Kontakt</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </header>
    </div>
    <form action="" class="row g-3">
      <div class="col-md-4">
        <label for="vorname" class="form-label">Vorname*</label>
        <input type="text" id="vorname" class="form-control" required="">
      </div>
      <div class="col-md-4">
        <label for="nachname" class="form-label">Nachname*</label>
        <input type="text" id="nachname" class="form-control" required="">
      </div>
      <div class="col-md-4">
        <label for="dzemat" class="form-label">Dzemat*</label>
        <input type="text" id="dzemat" class="form-control" required="">
      </div>
      <div class="col-md-8">
        <label for="email" class="form-label">E-Mail*</label>
        <input type="email" id="email" class="form-control" required="">
      </div>
      <div class="col-md-4">
        <label for="telefonnummer" class="form-label">Telefonnummer (optional)</label>
        <input type="text" id="telefonnummer" class="form-control">
      </div>
      <div class="col-md-12">
        <label for="kommentar" class="form-label">Kommentare, Fragen?*</label>
        <textarea id="kommentar" rows="3" class="form-control" required=""></textarea>
      </div>
      <div class="col-md-12">
        <button type="submit" class="btn-primary btn">Senden</button>
      </div>
    </form>
  </div>
</section>
