<mreza-mladih-platform-header></mreza-mladih-platform-header>

<div class="container">
  <!--Australia-->
  <div class="select-box">
    <div class="Flag">
      <img class="Flag" src="../assets/img/australia.png">
    </div>
    <div class="options-container">
      <div class="option">
        <input type="radio" class="radio" id="Melbourne" name="category" />
        <a
          href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Australia/melbourne.html">
          <p>Melbourne</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Noblepark" name="category" />
        <a
          href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Australia/noblepark.html">
          <p>Noblepark</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Sydney" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Australia/sydney.html">
          <p>Sydney</p>
        </a>
      </div>

    </div>


    <div class="selected">
      Select an Australian city
    </div>

    <div class="search-box">
      <input type="text" placeholder="Search for . . ." />
    </div>
  </div>

  <!--Austria-->
  <div class="select-box">
    <div class="Flag">
      <img class="Flag" src="../assets/img/austria.png">
    </div>
    <div class="options-container">


      <div class="option">
        <input type="radio" class="radio" id="Graz" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Austria/graz.html">
          <p>Graz</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Klagenfurt" name="category" />
        <a
          href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Austria/klagenfurt.html">
          <p>Klagenfurt</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Linz" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Austria/linz.html">
          <p>Linz</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Salzburg" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Austria/salzburg.html">
          <p>Salzburg</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Villach" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Austria/villach.html">
          <p>Villach</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Vorarlberg" name="category" />
        <a
          href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Austria/vorarlberg.html">
          <p>Vorarlberg</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Wels" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Austria/wels.html">
          <p>Wels</p>
        </a>

      </div>


      <div class="option">
        <input type="radio" class="radio" id="Wien" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Austria/wien.html">
          <p>Wien</p>
        </a>
      </div>


    </div>

    <div class="selected">
      Select an Austrian city
    </div>

    <div class="search-box">
      <input type="text" placeholder="Start Typing..." />
    </div>
  </div>

  <!--Belgium-->
  <div class="select-box">
    <div class="Flag">
      <img class="Flag" src="../assets/img/belgium.png">
    </div>
    <div class="options-container">

      <div class="option">
        <input type="radio" class="radio" id="Antwerpen" name="category" />
        <a
          href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Belgium/antwerpen.html">
          <p>Antwerpen</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Gent" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Belgium/gent.html">
          <p>Gent</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Liege" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Belgium/liege.html">
          <p>Liege</p>
        </a>
      </div>


    </div>

    <div class="selected">
      Select a Belgian City
    </div>

    <div class="search-box">
      <input type="text" placeholder="Start Typing..." />
    </div>
  </div>

  <!--Bosna-->

  <div class="select-box">
    <div class="Flag">
      <img class="Flag"
           src="../assets/img/bosnia-and-herzegovina.png"
           alt="Bosnian Flag">
    </div>
    <div class="options-container">

      <div class="option">
        <input type="radio" class="radio" id="Bihac" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Bosnia/bihac.html">
          <p>Bihac</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Bugojno" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Bosnia/bugojno.html">
          <p>Bugojno</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Buzim" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Bosnia/buzim.html">
          <p>Buzim</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Donji Vakuf" name="category" />
        <a
          href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Bosnia/donjivakuf.html">
          <p>Donji Vakuf</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Fojnica" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Bosnia/fojnica.html">
          <p>Fojnica</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Gorazde" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Bosnia/gorazde.html">
          <p>Gorazde</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Gradacac" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Bosnia/gradacac.html">
          <p>Gradacac</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Jablanica" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Bosnia/jablanica.html">
          <p>Jablanica</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Kakanj" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Bosnia/kakanj.html">
          <p>Kakanj</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Konjic" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Bosnia/konjic.html">
          <p>Konjic</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Kozarac" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Bosnia/kozarac.html">
          <p>Kozarac</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Kruscica" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Bosnia/kruscica.html">
          <p>Kruscica</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Mostar" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Bosnia/mostar.html">
          <p>Mostar</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Prozor" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Bosnia/prozor.html">
          <p>Prozor</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Sanski Most" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Bosnia/sana.html">
          <p>Sanski Most</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Sarajevo" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Bosnia/sarajevo.html">
          <p>Sarajevo</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Stolac" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Bosnia/stolac.html">
          <p>Stolac</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Tesanj" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Bosnia/tesanj.html">
          <p>Tesanj</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Tuzla" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Bosnia/tuzla.html">
          <p>Tuzla</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Vakuf" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Bosnia/vakuf.html">
          <p>Vakuf</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Visoko" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Bosnia/visoko.html">
          <p>Visoko</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Vitez" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Bosnia/vitez.html">
          <p>Vitez</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Zavidovici" name="category" />
        <a
          href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Bosnia/zavidovici.html">
          <p>Zavidovici</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Zenica" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Bosnia/zenica.html">
          <p>Zenica</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Zivinice" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Bosnia/zivinice.html">
          <p>Zivinice</p>
        </a>
      </div>



    </div>

    <div class="selected">
      Select a Bosnian City
    </div>

    <div class="search-box">
      <input type="text" placeholder="Start Typing..." />
    </div>
  </div>


  <!--Canada-->
  <div class="select-box">
    <div class="Flag">
      <img class="Flag" src="../assets/img/canada.png">
    </div>
    <div class="options-container">

      <div class="option">
        <input type="radio" class="radio" id="Hamilton" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Canada/hamilton.html">
          <p>Hamilton</p>
        </a>
      </div>


    </div>

    <div class="selected">
      Select a Canadian City
    </div>

    <div class="search-box">
      <input type="text" placeholder="Start Typing..." />
    </div>
  </div>


  <!--Denmark-->
  <div class="select-box">
    <div class="Flag">
      <img class="Flag" src="../assets/img/denmark.png">
    </div>
    <div class="options-container">

      <div class="option">
        <input type="radio" class="radio" id="Randers" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Denmark/randers.html">
          <p>Randers</p>
        </a>
      </div>


    </div>

    <div class="selected">
      Select a Danish City
    </div>

    <div class="search-box">
      <input type="text" placeholder="Start Typing..." />
    </div>
  </div>


  <!--Finland-->
  <div class="select-box">
    <div class="Flag">
      <img class="Flag" src="../assets/img/finland.png">
    </div>
    <div class="options-container">

      <div class="option">
        <input type="radio" class="radio" id="" name="category" />
        <label for="">No city known in Mreza Mladih</label>
      </div>
    </div>

    <div class="selected">
      Select a Finnish City
    </div>

    <div class="search-box">
      <input type="text" placeholder="Start Typing..." />
    </div>
  </div>

  <!--France-->
  <div class="select-box">
    <div class="Flag">
      <img class="Flag" src="../assets/img/france.png">
    </div>
    <div class="options-container">

      <div class="option">
        <input type="radio" class="radio" id="Paris" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/France/paris.html">
          <p>Paris</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Sochaux" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/France/sochaux.html">
          <p>Sochaux</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Starsbourg" name="category" />
        <a
          href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/France/strasbourg.html">
          <p>Strasbourg</p>
        </a>
      </div>


    </div>

    <div class="selected">
      Select a Frensh city
    </div>

    <div class="search-box">
      <input type="text" placeholder="Start Typing..." />
    </div>
  </div>


  <!--Germany-->
  <div class="select-box">
    <div class="Flag">
      <img class="Flag" src="../assets/img/germany.png">
    </div>
    <div class="options-container">

      <div class="option">
        <input type="radio" class="radio" id="Aachen" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Germany/Aachen.html">
          <p>Aachen</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Augsburg" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Germany/augsburg.html">
          <p>Augsburg</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Berlin" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Germany/berlin.html">
          <p>Berlin</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Bochum" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Germany/Bochum.html">
          <p>Bochum</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Bonn" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Germany/Bonn.html">
          <p>Bonn</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Bremen" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Germany/bremen.html">
          <p>Bremen</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Dortmund" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Germany/Dortmund.html">
          <p>Dortmund</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Düsseldorf" name="category" />
        <a
          href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Germany/d%C3%BCsseldorf.html">
          <p>Düsseldorf</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Frankfurt" name="category" />
        <a
          href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Germany/frankfurt.html">
          <p>Frankfurt</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Hagen" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Germany/hagen.html">
          <p>Hagen</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Hamburg" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Germany/hamburg.html">
          <p>Hamburg</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Hamm" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Germany/hamm.html">
          <p>Hamm</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Hannover" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Germany/hannover.html">
          <p>Hannover</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Ingolstadt" name="category" />
        <a
          href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Germany/ingolstadt.html">
          <p>Ingolstadt</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Kamp Lintfort" name="category" />
        <a
          href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Germany/kamplintfurt.html">
          <p>Kamp Lintfort</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Karlsruhe" name="category" />
        <a
          href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Germany/karlsruhe.html">
          <p>Karlsruhe</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Kassel" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Germany/kassel.html">
          <p>Kassel</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Köln" name="category" />
        <a
          href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Germany/k%C3%B6ln.html">
          <p>Köln</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Lörrach" name="category" />
        <a
          href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Germany/l%C3%B6rrach.html">
          <p>Lörrach</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Mainz" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Germany/mainz.html">
          <p>Mainz</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Mannheim" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Germany/mannheim.html">
          <p>Mannheim</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Mülheim" name="category" />
        <a
          href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Germany/m%C3%BClheim.html">
          <p>Mülheim</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="München" name="category" />
        <a
          href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Germany/m%C3%BCnchen.html">
          <p>München</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Nürnberg" name="category" />
        <a
          href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Germany/n%C3%BCrnberg.html">
          <p>Nürnberg</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Oberhausen" name="category" />
        <a
          href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Germany/oberhausen.html">
          <p>Oberhausen</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Penzberg" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Germany/penzberg.html">
          <p>Penzberg</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Rosenheim" name="category" />
        <a
          href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Germany/rosenheim.html">
          <p>Rosenheim</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Saarbrücken" name="category" />
        <a
          href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Germany/saarbr%C3%BCcken.html">
          <p>Saarbrücken</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Stuttgart" name="category" />
        <a
          href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Germany/stuttgart.html">
          <p>Stuttgart</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Tuttlingen" name="category" />
        <a
          href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Germany/tuttlingen.html">
          <p>Tuttlingen</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Ulm" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Germany/ulm.html">
          <p>Ulm</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Velbert" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Germany/velbert.html">
          <p>Velbert</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Witten" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Germany/witten.html">
          <p>Witten</p>
        </a>
      </div>


    </div>

    <div class="selected">
      Select a German City
    </div>

    <div class="search-box">
      <input type="text" placeholder="Start Typing..." />
    </div>
  </div>


  <!--Great Britain-->
  <div class="select-box">
    <div class="Flag">
      <img class="Flag" src="../assets/img/united-kingdom.png">
    </div>
    <div class="options-container">
      <div class="option">
        <input type="radio" class="radio" id="" name="category" />
        <label for="">No city known in Mreza Mladih</label>
      </div>
    </div>

    <div class="selected">
      Select a British City
    </div>

    <div class="search-box">
      <input type="text" placeholder="Start Typing..." />
    </div>
  </div>


  <!--Ireland-->
  <div class="select-box">
    <div class="Flag">
      <img class="Flag" src="../assets/img/ireland.png">
    </div>
    <div class="options-container">
      <div class="option">
        <input type="radio" class="radio" id="Aachen" name="category" />
        <a href="C:\Users\malik\Desktop\projekte\MM Seite 2\Countrypages\Ireland\dublin.html">
          <p>Dublin</p>
        </a>
      </div>
    </div>

    <div class="selected">
      Select an Irish City
    </div>

    <div class="search-box">
      <input type="text" placeholder="Start Typing..." />
    </div>
  </div>


  <!--Italy-->
  <div class="select-box">
    <div class="Flag">
      <img class="Flag" src="../assets/img/italy.png">
    </div>
    <div class="options-container">

      <div class="option">
        <input type="radio" class="radio" id="Piacenze" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Italy/piacenze.html">
          <p>Piacenze</p>
        </a>
      </div>


    </div>

    <div class="selected">
      Select an Italian City
    </div>

    <div class="search-box">
      <input type="text" placeholder="Start Typing..." />
    </div>
  </div>



  <!--Liechtenstein-->
  <div class="select-box">
    <div class="Flag">
      <img class="Flag" src="../assets/img/liechtenstein.png">
    </div>
    <div class="options-container">

      <div class="option">
        <input type="radio" class="radio" id="" name="category" />
        <a href="">
          <p></p>
        </a>
      </div>
    </div>

    <div class="selected">
      Select a Liechtenstein City
    </div>

    <div class="search-box">
      <input type="text" placeholder="Start Typing..." />
    </div>
  </div>


  <!--Luxembourg-->
  <div class="select-box">
    <div class="Flag">
      <img class="Flag" src="../assets/img/luxembourg.png">
    </div>
    <div class="options-container">
      <div class="option">
        <input type="radio" class="radio" id="" name="category" />
        <a href="">
          <p></p>
        </a>
      </div>

    </div>

    <div class="selected">
      Select a Luxembourgish City
    </div>

    <div class="search-box">
      <input type="text" placeholder="Start Typing..." />
    </div>
  </div>


  <!--Netherlands-->
  <div class="select-box">
    <div class="Flag">
      <img class="Flag" src="../assets/img/netherlands.png">
    </div>
    <div class="options-container">

      <div class="option">
        <input type="radio" class="radio" id="Amsterdam" name="category" />
        <a
          href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Netherlands/amsterdam.html">
          <p>Amsterdam</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Arnheim" name="category" />
        <a
          href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Netherlands/arnheim.html">
          <p>Arnheim</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Den Bosch" name="category" />
        <a
          href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Netherlands/denbosch.html">
          <p>Den Bosch</p>
        </a>
      </div>




      <div class="option">
        <input type="radio" class="radio" id="Eindhoven" name="category" />
        <a
          href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Netherlands/eindhoven.html">
          <p>Eindhoven</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Enschede" name="category" />
        <a
          href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Netherlands/enschede.html">
          <p>Enschede</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Nijmegen" name="category" />
        <a
          href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Netherlands/nijmegen.html">
          <p>Nijmegen</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Roermond" name="category" />
        <a
          href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Netherlands/roermond.html">
          <p>Roermond</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Rotterdam" name="category" />
        <a
          href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Netherlands/rotterdam.html">
          <p>Rotterdam</p>
        </a>
      </div>


    </div>

    <div class="selected">
      Select a dutch City
    </div>

    <div class="search-box">
      <input type="text" placeholder="Start Typing..." />
    </div>
  </div>


  <!--Norway-->
  <div class="select-box">
    <div class="Flag">
      <img class="Flag" src="../assets/img/norway.png">
    </div>
    <div class="options-container">
      <div class="option">
        <input type="radio" class="radio" id="" name="category" />
        <label for="">No city known in Mreza Mladih</label>
      </div>

    </div>

    <div class="selected">
      Select a Norwegian City
    </div>

    <div class="search-box">
      <input type="text" placeholder="Start Typing..." />
    </div>
  </div>



  <!--Sweden-->
  <div class="select-box">
    <div class="Flag">
      <img class="Flag" src="../assets/img/sweden.png">
    </div>
    <div class="options-container">

      <div class="option">
        <input type="radio" class="radio" id="Boras" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Sweden/boras.html">
          <p>Boras</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Eslöv" name="category" />
        <a
          href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Sweden/esl%C3%B6v.html">
          <p>Eslöv</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Gislaved" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Sweden/gislaved.html">
          <p>Gislaved</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Göteborg" name="category" />
        <a
          href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Sweden/g%C3%B6teborg.html">
          <p>Göteborg</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Halmstad" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Sweden/halmstad.html">
          <p>Halmstad</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Helsingborn" name="category" />
        <a
          href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Sweden/helsingborn.html">
          <p>Helsingborn</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Jönköping" name="category" />
        <a
          href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Sweden/j%C3%B6nkoping.html">
          <p>Jönköping</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Landskrona" name="category" />
        <a
          href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Sweden/landskrona.html">
          <p>Landskrona</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Linköping" name="category" />
        <a
          href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Sweden/link%C3%B6ping.html">
          <p>Linköping</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Malmö" name="category" />
        <a
          href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Sweden/malm%C3%B6.html">
          <p>Malmö</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Norrköpink" name="category" />
        <a
          href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Sweden/norrk%C3%B6ping.html">
          <p>Norrköping</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Skovde" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Sweden/skovde.html">
          <p>Skovde</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Stockholm" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Sweden/stockholm.html">
          <p>Stockholm</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Trelleborg" name="category" />
        <a
          href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Sweden/trelleborg.html">
          <p>Trelleborg</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Västeras" name="category" />
        <a
          href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Sweden/v%C3%A4steras.html">
          <p>Västeras</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Växjö" name="category" />
        <a
          href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Sweden/v%C3%A4xj%C3%B6.html">
          <p>Växjö</p>
        </a>
      </div>


    </div>

    <div class="selected">
      Select a Swedish City
    </div>

    <div class="search-box">
      <input type="text" placeholder="Start Typing..." />
    </div>
  </div>


  <!--Switzerland-->
  <div class="select-box">
    <div class="Flag">
      <img class="Flag" src="../assets/img/switzerland.png">
    </div>
    <div class="options-container">

      <div class="option">
        <input type="radio" class="radio" id="Basel" name="category" />
        <a
          href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Switzerland/basel.html">
          <p>Basel</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Heiden" name="category" />
        <a
          href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Switzerland/heiden.html">
          <p>Heiden</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Luzern" name="category" />
        <a
          href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Switzerland/luzern.html">
          <p>Luzern</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Oberentfelden" name="category" />
        <a
          href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Switzerland/oberentfelden.html">
          <p>Oberentfelden</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Ricken" name="category" />
        <a
          href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Switzerland/ricken.html">
          <p>Ricken</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="St. Gallen" name="category" />
        <a
          href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Switzerland/stgallen.html">
          <p>St. Gallen</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Zug" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Switzerland/zug.html">
          <p>Zug</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Zürich" name="category" />
        <a
          href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/Switzerland/z%C3%BCrich.html">
          <p>Zürich</p>
        </a>
      </div>


    </div>

    <div class="selected">
      Select a Swiss City
    </div>

    <div class="search-box">
      <input type="text" placeholder="Start Typing..." />
    </div>
  </div>


  <!--USA-->
  <div class="select-box">
    <div class="Flag">
      <img class="Flag"
           src="../assets/img/united-states-of-america.png">
    </div>
    <div class="options-container">

      <div class="option">
        <input type="radio" class="radio" id="Atlanta" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/USA/atlanta.html">
          <p>Atlanta</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Chicago" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/USA/chicago.html">
          <p>Chicago</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Colorado" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/USA/colorado.html">
          <p>Colorado</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Connecticut" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/USA/connecticut.html">
          <p>Connecticut</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Des Moines" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/USA/desmoines.html">
          <p>Des Moines</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Detroit" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/USA/detroit.html">
          <p>Detroit</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Granger" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/USA/granger.html">
          <p>Granger</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="New Hampshire" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/USA/newhampshire.html">
          <p>New Hampshire</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="New Jersey" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/USA/newjersey.html">
          <p>New Jersey</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="New York" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/USA/newyork.html">
          <p>New York</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="North Phoenix" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/USA/northphoenix.html">
          <p>North Phoenix</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Portland" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/USA/portland.html">
          <p>Portland</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Richmond" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/USA/richmond.html">
          <p>Richmond</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Seattle" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/USA/seattle.html">
          <p>Seattle</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="St. Louis" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/USA/stlouis.html">
          <p>St. Louis</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Utah" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/USA/utah.html">
          <p>Utah</p>
        </a>
      </div>



      <div class="option">
        <input type="radio" class="radio" id="Utica" name="category" />
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Countrypages/USA/utica.html">
          <p>Utica</p>
        </a>
      </div>


    </div>

    <div class="selected">
      Select a US City
    </div>

    <div class="search-box">
      <input type="text" placeholder="Start Typing..." />
    </div>
  </div>

</div>

<script src="../assets/js/main.js"></script>

